body{
    text-align: center;
    font-family: Open Sans, ssans-serif;
    background: #8A71C9;
    color: #ffffff;
    margin: 0 0 30px 0;
}

h1{
    font-size: 60px;
    font-weight: 300;
}

h2{
    color: #2a0074;
    font-size: 40px;
}

h3{
    font-size: 22px;
    font-style: italic;
}

p{
    font-size: 20px;
    line-height: 1.5;
}

img{
    width: 100%;
}

section{
    width: 60%;
    margin: 0 auto;
}

section section{
    width: 100%;
}

ul{
    list-style-type: none;
    line-height: 2;
    padding: 0;
}

a{
    text-decoration: none;
    color: #99ffff;
    font-weight: 700; 
}

button{
    background: #41f341;
    border: solid 1px transparent;
    padding: 2px 20px;
    border-radius: 3px;
}

.green-title{
    color: #04ff9f;
}

.red-title{
    color: #ff9e9e;
}

.yellow-title{
    color: #ffe36d;
}

.principal{
    background: #ff6cb5;
    height: 40px;
    max-width: 60%;
    margin: 0 auto;
}

.principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
}

.principal a{
    color: #ffffff;
    text-decoration: underline;
    font-weight: normal;
}

.principal a:hover{
    color: thistle;
}

